<ul class="menu top-bar-left">
  <li class="has-submenu">
  <a href="index.html">Home</a>
  </li>
  <li><a href="gallery.html">Gallery</a></li>
  <li class="has-submenu">
  <a href="about.html">About</a>
  </li>
  <li class="has-submenu">
  <a href="contact.html">Contact</a>
  </li>
</ul>
<ul class="no-bullet menu top-bar-right">
    <li><a href="#"><i class="fi-social-twitter"></i></a></li>
    <li><a href="#"><i class="fi-social-instagram"></i></a></li>
    <li><a href="#"><i class="fi-social-facebook"></i></a></li>
    <li><a href="#"><i class="fi-social-pinterest"></i></a></li>
  </ul>