 <ul class="top no-bullet" id="off_canvas_menu">
        <li class="has-submenu">
        <a href="index.html">Home</a>
        </li>
        <li><a href="gallery.html">Gallery</a></li>
        <li class="has-submenu">
        <a href="about.html">About</a>
        </li>
        <li class="has-submenu">
        <a href="contact.html">Contact</a>
        </li>
        </ul>
        <ul class="no-bullet menu">
          <li><a href="#"><i class="fi-social-twitter"></i></a></li>
          <li><a href="#"><i class="fi-social-instagram"></i></a></li>
          <li><a href="#"><i class="fi-social-facebook"></i></a></li>
          <li><a href="#"><i class="fi-social-pinterest"></i></a></li>
        </ul>